{% extends 'base.html' %}
{% block title %}Chat Forum{% endblock %}
{% block content %}
<style>
	h1, h3{
		text-align: center;
		font-family: sans-serif;
	}
	main {
	background-color: #DEDEDE;
	}
	.styled-table {
	width: 80%;
    margin: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}
	.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
	}
	.styled-table th,
	.styled-table td {
    padding: 12px 15px;
	}
	.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
	}

	.styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
	}

	.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
	}
	.styled-table tbody tr:hover {
    /* font-weight: bold; */
    background-color: #CCC;
	}

</style>
<main>
	<h1>{{topic.topic_name}}</h1>
	<p><h3>Select a post</h3></p>
	<table class="styled-table">
		<thead>
			<tr>
				<th>Topic</th>
				<th>Description</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
			<tr>
				<td><a href="/forum/{{topic.topic_name }}/{{ post.post_name }}">{{ post.post_name}}</a></td>
				<td>{{ post.post_desc}}</td>
				<td>{{ post.author}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<hr/>

</main>
{% endblock %}