{{% extends 'base.html' %}
{% block title %}Chat Forum{% endblock %}
{% block content %}
<style>
	h1, h3{
		text-align: center;
	}
	table {
		align: center;
	}
	td {
		padding-right: 500px;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
	}
</style>
<main>
	<h1>General</h1>
	<p><h3>General topics and information</h3></p>
	<table>
		<thead>
			<tr>
				<th>Topic</th>
				<th>Posted By</th>
				<th>Date Created</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/forum/example_post">Welcome to the forum!</a></td>
				<td>BradleyBradBad</td>
				<td>01/04/2020</td>
			</tr>
		</tbody>
	</table>
	<hr/>
	<h1>Food</h1>
	<h3>Stuff about food here</h3>
	<table>
		<thead>
			<tr>
				<th>Topic</th>
				<th>Posted By</th>
				<th>Date Created</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="#">Where is everyone?</a></td>
				<td>BradleyBradBad</td>
				<td>01/04/2020</td>
			</tr>
			<tr>
				<td>HELLO!!??</td>
				<td>BradleyBradBad</td>
				<td>01/04/2020</td>
			</tr>
		</tbody>
	</table>
	<hr/>
	<h1>Sports</h1>
	<h3>Stuff about sports here</h3>
	<table>
		<thead>
			<tr>
				<th>Topic</th>
				<th>Posted By</th>
				<th>Date Created</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="#">Where is everyone?</a></td>
				<td>BradleyBradBad</td>
				<td>01/04/2020</td>
			</tr>
			<tr>
				<td>HELLO!!??</td>
				<td>BradleyBradBad</td>
				<td>01/04/2020</td>
			</tr>
		</tbody>
	</table>
</main>
{% endblock %}
