{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
	<h1><u>Home Page</u></h1>
	<p>Welcome to Eco-Chester, the ulltimate guide for being environmentally friendly in Manchester!</p>
	<p>There are several aspects to this website: the maps, the tradeshop, the waste tracker and the chat forum.</p>
	<h2><u>Maps</u></h2>
	<p>These <b>maps</b> allow the user to see the locations nearby in which they can recycle, while also showing eco-friendly businesses. So next time you plan to go out to eat, take a look at the map for a more eco-friendly option.</p>
	<h2><u>Chat Forum</u></h2>
	<p>In the <b>chat forum</b> users will be able to ask questions or start discussions about certain topics.</p>
	<h2><u>Waste Tracker</u></h2>
	<p>The <b>waste tracker</b> will help the user reduce their non-recyclable waste output by showing them statistics about their weekly waste.</p>
	<h2><u>Trade Shop</u></h2>
	<p>The <b>trade shop</b> enables users to trade used items that they no longer need. This helps to reduce waste as these items are no longer being thrown away.</p>
</main>
{% endblock %}